asgiref==3.11.1
django==6.0.5
djangorestframework==3.17.1
numpy==2.4.6
pandas==3.0.3
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
six==1.17.0
sqlparse==0.5.5
tzdata==2026.2
django-cors-headers==4.7.0
djangorestframework-simplejwt==5.5.0
gunicorn==23.0.0
torch==2.10.0
requests==2.32.3
PyJWT==2.10.1

